body{
    margin: 0;
    padding: 0;
}
div{
    display: flex;
    align-items: center;   /* vertically aligns logo and text */
    justify-content: center; /* centers whole section */
    gap: 20px; /* space between logo and title */
    margin-top: 30px;
    padding: 0px;
    margin: 0px;
    background-color: #04192f;
}

h1{
    font-size: 50px;
    color: white;
    margin: 0;
}

img{
    height: 80px;
    padding: 10px;
}